* {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

body {
    font-size: 1.3vw;

}

button:hover {
    cursor: pointer;
}

.info .close:hover {
    cursor: pointer;
}

.content {
    margin: 0 10%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    display: flex;
    align-items: flex-end;
}

.top {
    display: flex;
    align-items: flex-start;
}

.greyColor {
    /* color: #8d8d8d; */
    color: rgb(184, 184, 184);
}
.greyDark {
    /* color: #8d8d8d; */
    color: rgb(107, 107, 107);
}
.greyDarkest {
    /* color: #8d8d8d; */
    color: rgb(75, 75, 75);
}

.blackColor {
    color: #313131;
}

.whiteColor {
    color: rgb(240, 240, 240);
}

header {
    margin-top: 2em;
    position: absolute;
    width: 100%;
}

.menuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.menuBar span {
    font-size: 3em;
}

.mobileMenu {
    display: none;
}

#mobileButton {
    display: none;
}

.menuOptions {
    display: flex;
    justify-content: flex-end;
    margin: auto 0;
}

.menuOptions ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* height: 2em; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* flex-direction: row; */
}

.menuOptions li {
    margin: auto;
}

.menuOptions li:hover {
    background: rgba(71, 71, 71, .5)
}

.menuItem {
    font-size: 1.2em;
    display: block;
    padding: 1em 1em;
    text-decoration: none;
    flex-grow: 1;
}

.menuItem i {
    font-size: 2em;
}

.info {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    background-color: #dddddd;
    grid-gap: 1em;
}

.info .description {
    padding: 1em;
}

.info span {
    font-size: 1.3em;
}

.info b {
    font-size: 2.2em;
    text-align: justify;
}

.info div {
    margin: auto;
}

.info i {
    font-size: 2em;
}

main .title {
    display: block;
    font-size: 2.5em;
    margin: 1em 0em;
    /* letter-spacing: 0.1em; */
}

.sectionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    grid-auto-rows: 1fr;
    align-items: end;
}


.bannerSurvey {
    position: absolute;
    top: 10em;
    width: 31em;
    height: 30em;
    /* filter: blur(5px); */
    /* border: 1px solid black; */
}

.bannerSurvey .bannerText {
    background: rgba(71, 71, 71, .7);
    height: 60%;
    padding: 3em 5em 3em 2em;
}

.bannerSurvey .bannerIcons .thumbUp {
    width: 50%;
    height: 7em;
    background: rgba(14, 141, 124, .8);
}
.bannerSurvey .bannerIcons .thumbDown {
    width: 50%;
    height: 7em;
    background: rgba(240, 186, 7, .8);  
}

.bannerSurvey .thumbUp i, .bannerSurvey .thumbDown i {
    font-size: 3.3em;
}

.bannerSurvey .bannerText .text1 {
    font-size: 1em;
}

.bannerSurvey .bannerText .text2 {
    font-size: 3em;
    letter-spacing: 0.05em;
    padding-bottom: 0.5em;
}

.bannerSurvey .bannerText .text3 {
    font-size: 1.3em;
    padding-bottom: 1em;
}

.bannerSurvey .bannerText .text4 {
    font-size: 1em;
    padding-bottom: 2em;
}

.bannerSurvey .bannerText .text5 {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.banner {
    overflow: hidden;
    height: 45em;
}

.thumbUp {
    background: rgb(14, 141, 124);
    width: 2.5em;
    height: 2.5em;
    font-size: 0.8em;
}

.thumbDown {
    background: rgb(240, 186, 7);
    width: 2.5em;
    height: 2.5em;
    font-size: 0.8em;
}

.addName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5em;
    height: 5em;
    background-image: 
        linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),
        url(img/street.jpg);
    background-position: center;
    padding: 0 1em;
    color: rgb(107, 107, 107);
    margin-bottom: 2.5em;
}

.addName .submit {
    border: 0.15em solid;
    font-size: 1.3em;
    padding: 0.5em 1.3em;
    background: transparent;
    font-weight: bold;
}





footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 3em 0;
    font-size: 0.8em;
    border-top: 0.2em dotted;
}

footer .footer1 {
    display: flex;
}

footer .footer2 {
    display: flex;
}

footer ul {
    list-style: none;
}

footer .footer1 li {
    padding-right: 2em;
}

footer .footer2 li {
    padding-left: 2em;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 2.5vw;
    }
    .menuBar span {
        font-size: 2em;
    }

    .menuItem {
        font-size: 1em;
        padding: 0em 1em;
    }

    .banner {
        overflow: hidden;
        height: 26.25em;
    }

    .bannerSurvey {
        font-size: 0.7em;
        position: absolute;
        top: 10em;
        width: 31em;
        height: 29.4em;
        margin-left: 14em;
        /* filter: blur(5px); */
        /* border: 1px solid black; */
    }

    .bannerSurvey .bannerIcons {
        font-size: 0.7em;
    }

    .info {
        position: relative;
        padding: 0em 1em 0.5em 1.2em;
        margin-top: 2em;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #dddddd;
        grid-gap: 1em;
    }
    
    .info .description{
        padding: 0;
        display: flex;
        align-items: baseline;
        /* justify-content: space-between; */
    }

    .info .close {
        position: absolute;
        font-size: 0.6em;
        top: 0.1em;
        left: 96%;
    }

    main .title {
        margin: 0.5em 0;
    }

    .sectionGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        grid-auto-rows: 1fr;
        align-items: end;
    }

    .addName .submit {
        border: 0.1em solid;
        font-size: 1em;
        padding: 0.5em 1.3em;
        background: transparent;
        font-weight: bold;
    }
}

@media only screen and (max-width: 425px) {
    body {
        font-size: 2.5vw;
    }

    header {
        position: fixed;
        background: rgba(71, 71, 71, .9);
        margin:0;
        z-index: 100;
        height: 3.8em;
    }

    .menuBar {
        justify-content: space-between;
        align-items: baseline;
        height: 100%;
    }

    .menuBar span {
        font-size: 2em;
    }

    .mobileMenu {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 2em;
    }

    .menuHidden {
        margin-left: -50%;
    }

    .menuOptions {
        position: absolute;
        width: 50%;
        left: 0;
        top: 3.8em;
        transition: margin 300ms;
    }

    .menuOptions ul {
        flex-direction: column;
        background: rgba(71, 71, 71, 0.9);
        width: 100%;
    }

    .menuOptions li{
        margin: 0;
        border-top: 0.1em solid white;
        padding: 2em;
    }

    .menuOptions li:hover {
        background: rgba(255,255,255,0.95);
    }

    .menuItem {
        font-size: 1.4em;
        padding: 0em 1em;
    }

    .menuItem i {
        display: none;
    }

    .banner img {
        display: none;
    }

    .bannerSurvey .bannerText {
        background: rgba(71, 71, 71, .7);
        height: 60%;
        padding: 2em 5em 3em 2em;
    }

    .bannerSurvey {
        font-size: 1em;
        /* position: absolute; */
        top: 4.6em;
        width: 80%;
        /* width: 30.7em; */
        /* height: 28em; */
        margin-left: 10%;
        /* filter: blur(5px); */
        /* border: 1px solid black; */
    }

    .bannerSurvey .bannerIcons {
        font-size: 0.6em;
    }

    .info {
        margin-top: 6em;
    }

    .sectionGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        grid-auto-rows: 1fr;
        align-items: end;
    }
}