* {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

body {
    font-size: 1.3vw;

}

.content {
    margin: 0 10%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    display: flex;
    align-items: flex-end;
}

.top {
    display: flex;
    align-items: flex-start;
}

.greyColor {
    /* color: #8d8d8d; */
    color: rgb(184, 184, 184);
}
.greyDark {
    /* color: #8d8d8d; */
    color: rgb(107, 107, 107);
}
.greyDarkest {
    /* color: #8d8d8d; */
    color: rgb(75, 75, 75);
}

.blackColor {
    color: #313131;
}

.whiteColor {
    color: rgb(240, 240, 240);
}

header {
    margin-top: 2em;
    position: absolute;
    width: 100%;
}

.menuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.menuBar span {
    font-size: 2em;
}

.menuOptions {
    display: flex;
    justify-content: flex-end;
    margin: auto 0;
}

.menuOptions ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* height: 2em; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* flex-direction: row; */
}

.menuOptions li {
    margin: auto;
}

.menuItem {
    display: block;
    padding: 0em 1em;
    text-decoration: none;
    flex-grow: 1;
}

.menuItem i {
    font-size: 2em;
}

.info {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    background-color: #dddddd;
    grid-gap: 1em;
}

.info .description {
    padding: 1em;
}

.info span {
    font-size: 1.3em;
}

.info b {
    font-size: 2.2em;
    text-align: justify;
}

.info div {
    margin: auto;
}

.info i {
    font-size: 2em;
}

/* **************************************** */

main .title {
    display: block;
    font-size: 2.5em;
    margin: 1em 0em;
    /* letter-spacing: 0.1em; */
}

.sectionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    grid-auto-rows: 1fr;
    align-items: end;
}

.gridElement {
    width: 100%;
    padding-top: 115%;
    position: relative;
    overflow: hidden;
}

.sectionImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sectionImg img {
    /* display: none; */
    position: relative;
    left: 100%;
    margin-left: -200%;
    height: 100%;
    width: auto;
}

/* **************************************** */

.surveyInfo {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, .6));
}

.surveyContainer {
    width: 100%;
    height: 100%;
}

.surveyGrid {
    /* position: relative; */
    width: 100%;
    height: 60%;
    display: grid;
    grid-column-gap: 0.7em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 8em 1.7em 4em 3em;
    /* grid-row-gap: 1em; */
}

.surveyGrid>* {
    width: 100%;
}

.surveyGrid .lastVote {
    grid-column: 1;
    grid-row: 1;
}

.surveyGrid .personName {
    grid-column: 2 / 13;
    grid-row: 1;
    align-self: end;
    font-size: 3em;
}

.surveyGrid .lastUpdate {
    grid-column: 2 / 13;
    grid-row: 2;
    font-size: 0.8em;
}

.surveyGrid .description {
    grid-column: 2 / 12;
    grid-row: 3;
    font-size: 1em;
}

.surveyGrid .thumbUp {
    grid-column: 2;
    grid-row: 4;
}

.thumbUp {
    background: rgb(14, 141, 124);
    width: 2.5em;
    height: 2.5em;
    font-size: 0.8em;
}

.thumbIcon {
    font-size: 1.7em;
}

.thumbIcon, button:hover {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer
}

.surveyGrid .thumbUp input,
.surveyGrid .thumbDown input {
    display: none;
}

.surveyGrid .thumbDown {
    grid-column: 3;
    grid-row: 4;
}

.thumbDown {
    background: rgb(240, 186, 7);
    width: 2.5em;
    height: 2.5em;
    font-size: 0.8em;
}

.surveyGrid .vote {
    grid-column: 4 / 7;
    grid-row: 4;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 0.8em;
    height: 2.5em;
}

.surveyGrid .percentageBar {
    position: relative;
    grid-column: 1 / 13;
    grid-row: 5;
    width: 100%;
    height: 3em;
    /* margin-top: 1em; */
    display: flex;
    justify-content: space-between;
    align-self: end;
}

.surveyGrid .percentageBar .goodVotes {
    position: absolute;
    top: 0;
    left: 0;
    width: 63%;
    height: 100%;
    background: rgba(14, 141, 124, .7);
}

.surveyGrid .percentageBar .badVotes {
    position: absolute;
    top: 0;
    left: 63%;
    height: 100%;
    width: 100%;
    background: rgba(240, 186, 7, .7);
}

.surveyGrid .percentageBar .center {
    font-size: 2em;
    z-index: 1;
}

.surveyGrid .percentageBar .center i {
    font-size: 1.2em;
    padding: 0.3em;
}

/* **************************************** */

.bannerSurvey {
    position: absolute;
    top: 10em;
    width: 31em;
    height: 30em;
    /* filter: blur(5px); */
    /* border: 1px solid black; */
}

.bannerSurvey .bannerText {
    background: rgba(71, 71, 71, .7);
    height: 60%;
    padding: 3em 5em 3em 2em;
}

.bannerSurvey .bannerIcons .thumbUp {
    width: 50%;
    height: 7em;
    background: rgba(14, 141, 124, .8);
}
.bannerSurvey .bannerIcons .thumbDown {
    width: 50%;
    height: 7em;
    background: rgba(240, 186, 7, .8);  
}

.bannerSurvey .thumbUp i, .bannerSurvey .thumbDown i {
    font-size: 3.3em;
}

.bannerSurvey .bannerText .text1 {
    font-size: 1em;
}

.bannerSurvey .bannerText .text2 {
    font-size: 3em;
    letter-spacing: 0.05em;
    padding-bottom: 0.5em;
}

.bannerSurvey .bannerText .text3 {
    font-size: 1.3em;
    padding-bottom: 1em;
}

.bannerSurvey .bannerText .text4 {
    font-size: 1em;
    padding-bottom: 2em;
}

.bannerSurvey .bannerText .text5 {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.banner {
    overflow: hidden;
    height: 45em;
}

/* **************************************** */

.addName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5em;
    height: 5em;
    background-image: 
        linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),
        url(img/street.jpg);
    background-position: center;
    padding: 0 1em;
    color: rgb(107, 107, 107);
    margin-bottom: 2.5em;
}

.addName .submit {
    border: 0.15em solid;
    font-size: 1.3em;
    padding: 0.5em 1.3em;
    background: transparent;
    font-weight: bold;
}

/* **************************************** */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 3em 0;
    font-size: 0.8em;
    border-top: 0.2em dotted;
}

footer .footer1 {
    display: flex;
}

footer .footer2 {
    display: flex;
}

footer ul {
    list-style: none;
}

footer .footer1 li {
    padding-right: 2em;
}

footer .footer2 li {
    padding-left: 2em;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
}